<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<br>
<h3>Add new bookmark</h3>
<form action='/bookmarks/new' method='post'>
  <label for='url'>Url</label>
  <br>
  <input type='text' name='url' placeholder="URL">
  <br>
  <label for='title'>Title</label>
  <br>
  <input type='text' name='title' placeholder="Title">
  <br>
  <input type='submit' value='Add'>
</form>
